.modalContent {
  background-color: white;
  padding: 30px; /* Relleno interno */
  width: 90%; /* Ancho relativo al viewport */
  max-width: 700px; /* Tamaño máximo del contenedor */
  min-height: 500px; /* Altura mínima para que sea más alto verticalmente */
  border-radius: 12px; /* Esquinas redondeadas */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Sombra */
  transition: all 0.3s ease; /* Transición suave para cambios de tamaño */
  display: flex; /* Para alineación interna */
  flex-direction: column; /* Los elementos se apilan verticalmente */
  justify-content: space-between; /* Espaciado entre el contenido */
}

h3 {
  margin-top: 0;
  text-align: center;
  color: #333;
  font-size: 1.5rem; /* Aumentar el tamaño del título */
}

label {
  display: block;
  margin-top: 20px; /* Más espacio entre etiquetas */
  font-weight: bold;
  color: #555;
  font-size: 1.1rem;
}

textarea,
input,
select {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

textarea {
  resize: vertical;
  min-height: 150px; /* Aumentar la altura mínima del textarea */
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  padding: 12px 20px;
  font-size: 1rem;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:first-child {
  background-color: #4caf50;
}


button:last-child {
  background-color: #f44336;
}

button:first-child:hover {
  background-color: #45a049;
}

button:last-child:hover {
  background-color: #e53935;
}
